NODE_ENV=development

# RabbitMQ
RMQ_URL=amqp://guest:your_rabbitmq_password_here@localhost:5672
RMQ_QUEUE=notifications_queue

# SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_ADDRESS=noreply@example.com
SMTP_SECURE=false